<%- include("templates/header") %>

<div id="body" class="p<%=theme %>">

  <h1 class="s<%=theme %>nonButton">Matching game!</h1>
  
  
  <form id='form' class="t<%=theme %>" method="post" action="/game/<%= theme%>">
    
    <div class="form-check">
      <input class="form-check-input" type="radio" name="difficulty" id="easy" value="3" checked>
      <label class="form-check-label" for="easy">
        Easy (3 Pairs)
      </label>
    </div>
    
    <div class="form-check">
      <input class="form-check-input" type="radio" name="difficulty" id="medium" value="6">
      <label class="form-check-label" for="medium">
        Medium (6 Pairs)
      </label>
    </div>
    <div class="form-check disabled">
      <input class="form-check-input" type="radio" name="difficulty" id="hard" value="9">
      <label class="form-check-label" for="hard">
        Hard (9 Pairs)
      </label>
    </div>
    <button type="submit" class="btn s<%=theme %>"> Submit</button>

    
  </form>

  
</div>
  <%- include("templates/footer") %>